#title {
    margin-top: 12px;
    background-color: #fff;
    color: #000;

}
#menu {
    border-top: solid 6px #f00;
    background-color: black;
    color: #fff;
    height: 700px;

}

#menu a {
    background-color: lime;
    color: black;
    text-decoration: none;
    display: block;
    font-size: 30px;
    width:150px;
    margin-bottom: 10px;

}
.united{
    width:150px;
}
.hidden{
    display: none;
}

#submit1{

}
#menu a:hover {
    background-color: yellow;
    color: black;
    text-decoration:underline;
    display: block;
    border: inset;
}
a{
    text-decoration: underline;
}
#content {
    background-color: #fff;
    border-top: solid 6px #f00;

}

#footer {
    margin-top: 20px;
    text-align: center;
    background-color: #000;
    color: #fff;
}
label{
    width:130px;
}
#registered{
    width: 300px;
    color: black;
}
.lbl{
    color: red;
}
.table-hover{

}
.btn-sub{
   background-color:lime;
}
.btn-res{
    background-color: red;
}
form{
    margin:auto;

    padding:5px;
}
body{
    background: linear-gradient(to bottom right, red, yellow);
    font-size: 25px;
font-family: TakaoPGothic;
}
.error{
    color: red;
}
td{
    padding: 25px;
}
table{

}
.mainpics{
    width: 552px;
    height: 450px;
}
.btn-grad {
    background-image: linear-gradient(to bottom right, red, yellow);
    color: black;
    font-size: 20px;

}

#content{
    padding: 10px;
}
#searchcss{
    font-size: 20px;
}

.btn-group{
       margin-left: 100px;
}

nav{
    font-size: 30px;
}






@media screen  and (max-width:480px) {

    .mainpics {
        width: 100%;
        height: 250px;
    }
    #searchcss{
        font-size: 15px;
    }
    .table-container
    {
        width: 100%;
        overflow-y: auto;
        _overflow: auto;
        margin: 0 0 1em;
    }
    nav {
        font-size: 25px;
        text-align: center;
    }

    #lbl_Main {
        width: 100%;
        font-size: 20px;
        text-align: center;
    }

    body {
        font-size: 20px;
    }

    #format {
        width: 100%;


    }
    .btn-group {
        margin: auto;
        width: 100%;
        border: 3px solid red;
        padding: 10px;


    }

    .containertable {
        width: 100%;
    }

    h3 {
        text-align: center;
    }

    #phoneadvertstitle {
        font-size: 20px;
    }

    table, tbody, td, tr {
        display: block;
    }
th{
    visibility: hidden;
}
    tr {
        border: 1px solid #ccc;
    }
    /*th{
        visibility: hidden;
    }*/

    #back {
        display: block;
        margin: 0 auto;
    }

    #logout {
        display: block;
        margin: 0 auto;
    }
    #filter{
        display: block;
        margin: 0 auto;
    }
    #tableid
    {
        width: 100%;
        overflow-y: auto;
        _overflow: auto;
        margin: 0 0 1em;
    }
    #changepasswordlbls {
        width: 300px;
    }

}







@media screen and (max-width: 1000px) and (min-width: 500px) {
    nav {
        font-size: 20px;
    }
}